textarea {
    min-height: 400px;
}

.mail{
    border: 2px solid black;
    margin: 5px;
}

.id,.subject,.date{
    display: inline-block;
    padding: 5px;
}
.id{
    float: left;
    width: 33%;
    font-weight: bold;
}

.date{
    float: right;
    color: gray;
}